.App {
  text-align: center;
}

.jumbotron > img {
  object-fit: contain;
  height: 100px;
}

.jumbotron > img:hover {
  transform: scale(1.2);
}

.App__heading {
  margin-bottom: 30px;
}

.jumbotron {
  margin-top: 30px;
}

.graph {
  margin-top: 20px;
}

.progress-striped {
  height: 30px !important;
}
